html{
    scroll-behavior: smooth;
}
#header{
    background: #14274A;
    background: rgba(0, 0, 30, 0.5) url("../img/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}
#header-content{
    color: white;
}
.header-content-content{
    margin:0 !important;
}
.hotels{
    letter-spacing: 10px;
}
#rodape{
    background: #14274A;
    color: white;
}

#rodape a{
    text-decoration: none;
    color: white;
}
#main-content-link{
    transition: .3s ease;
}
#main-content-link:hover{
    transform: translateY(10px);
    transition: .3s ease;
}